#{BOOTSTRAP_PACKAGE}

import org.springframework.beans.BeansException;
import org.springframework.context.support.AbstractApplicationContext;
import org.springframework.context.support.ClassPathXmlApplicationContext;

public class #{BOOTSTRAP_CLASSNAME} {

	public #{BOOTSTRAP_CLASSNAME}() {
	}

	public static void main(String[] args) {
		/**
		 * Doing try catch here is very important, especially spring framwork is
		 * used to launch service service We would like to catch all startup
		 * exception and stop the service if bean exception is every happened;
		 * this way it would prevent unexpected behavior during the running; it
		 * also force developer to handle exception nicely.
		 */
		AbstractApplicationContext appContext = null;
		try {
			appContext = new ClassPathXmlApplicationContext(new String[] { "#{BOOTSTRAP_CONTEXT}" });
		} catch (BeansException e) {
			if (appContext != null) {
				appContext.close();
			}
			e.printStackTrace();
			System.exit(1);
		}
	}

}
