package #{DOMAIN_PACKAGE_NAME};

import java.io.Serializable;


public class #{ENTITY_NAME} implements Serializable {

    private static final long serialVersionUID = 1L;
	
	#{FIELD_DECLARATIONS}
	
	#{FIELD_ACCESSORS}    
	
}