<select id="select#{ENTITY_NAME}DrilldownBy#{GROUP_BY_KEY}" resultMap="#{ENTITY_VAR_NAME}ResultMap">
  SELECT 
  #{DRILLDOWN_SELECT_LIST}
  FROM 
  #{TABLE_NAME}
  GROUP BY #{GROUP_BY_FIELD}
  ORDER BY #{ORDER_BY_FIELD}
</select>
