<select id="select#{ENTITY_NAME}DrilldownBy#{GROUP_BY_KEY}" resultMap="#{ENTITY_VAR_NAME}ResultMap" 
			parameterType="#{ENTITY_NAME}">  
  SELECT 
  #{DRILLDOWN_SELECT_LIST}  
  FROM
  (
  SELECT 
  #{INNER_SELECT_LIST}
  FROM
  #{TABLE_NAME}
  WHERE
  #{WHERE_KEY_FIELD}
  )
 GROUP BY #{GROUP_BY_FIELD}
 ORDER BY #{ORDER_BY_FIELD}   
</select>

