<select id="select#{ENTITY_NAME}By#{KEY_NAME}" resultMap="#{ENTITY_VAR_NAME}ResultMap" 
			parameterType="#{KEY_TYPE}">
  SELECT 
  #{FIELD_SELECT_LIST}
  FROM 
  #{TABLE_NAME}
  WHERE #{WHERE_KEY_FIELD}
  #{ORDER_BY}
</select>