<div class="row">
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Doughnut Chart</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="false"></canvas>
            </div>
        </div>
    </div>    
</div>