'use strict';
/**
 * @ngdoc function
 * @name #{ANGULAR_APP_NAME}.controller:#{ENTITY_NAME}FormCtrl
 * @description
 * # #{ENTITY_NAME}Ctrl
 * Controller of the #{ANGULAR_APP_NAME}
 */
angular.module('#{ANGULAR_APP_NAME}')
  .controller('#{ENTITY_NAME}FormCtrl', ['$scope', '$filter', '$interpolate', '$http', '$stateParams', function ($scope, $filter, $interpolate, $http,  $stateParams) {
   $scope.#{ENTITY_VAR_NAME}={};   
   $scope.message="";
   
   var errhandler = function(errresponse){ 
   		$scope.error=errresponse.data || "failed on request"; 
   		$scope.message="Server unable to process the request." ; 
   }
   
    var fetchhandler = function(jsonEnvlope){ 
   		$scope.#{ENTITY_VAR_NAME}=jsonEnvlope.data ;    		
   	}
   	
   	var updatehandler = function(jsonEnvlope){ 
   		$scope.message="Sucessfully updated" ; 
   	}
   	
   	var savehandler = function(jsonEnvlope){ 
   		$scope.message="Sucessfully inserted" ; 
   	}
   	
   	   	
   	$scope.save=function()
   	{   		
   		$scope.message="";
   		$http.post('#{INSERT_UPDATE_URI}', $scope.#{ENTITY_VAR_NAME}).then(savehandler, errhandler);  	
   	};
   	
   	$scope.update=function()
   	{
   		$scope.message="";
   		$http.put('#{INSERT_UPDATE_URI}', $scope.#{ENTITY_VAR_NAME}).then(updatehandler, errhandler);   		
   	};
   
   
   $scope.get=function(){
   		 var urlExpr = $interpolate('#{GET_REQUEST_URI}');
   		 var url  = urlExpr($stateParams);
   		 console.log(url);
   		 $http.get(url).then(fetchhandler, errhandler);   		
   };
   
   
   
}]);
