<div class="form-group">
    <label>#{FIELD_LABEL}</label>
    <select class="form-control" id="#{FIELD_VAR_NAME}" name="#{FIELD_VAR_NAME}" ng-model="#{ENTITY_VAR_NAME}.#{FIELD_VAR_NAME}" #{FIELD_ATTRIBUTES} >
        #{SELECTIONS}</select>
    <p class="help-block"></p>
</div>