<div class="form-group">
    <label>#{FIELD_LABEL}</label>
    <input class="form-control"  type="#{HTML_TYPE}" name="#{FIELD_VAR_NAME}"  id="#{FIELD_VAR_NAME}" ng-model="#{ENTITY_VAR_NAME}.#{FIELD_VAR_NAME}" #{FIELD_ATTRIBUTES}>
    <p class="help-block"></p>
</div>