<div class="dropdown">
 <label>#{FIELD_LABEL}</label>
    <a class="dropdown-toggle" id="dropdown#{FIELD_NAME}" role="button" data-toggle="dropdown">
        <div class="input-group">
            <input type="text" name="#{FIELD_VAR_NAME}"  id="#{FIELD_VAR_NAME}"  class="form-control" data-ng-model="#{ENTITY_VAR_NAME}.#{FIELD_VAR_NAME}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="#{ENTITY_VAR_NAME}.#{FIELD_VAR_NAME}"
                        data-datetimepicker-config="{ dropdownSelector: '#dropdown#{FIELD_NAME}', startView:'hour', minView:'minute'}"></datetimepicker>
    </ul>
</div>