<div class="form-group">
    <label>#{FIELD_LABEL}</label>
    <textarea class="form-control" rows="3" name="#{FIELD_VAR_NAME}"  id="#{FIELD_VAR_NAME}" ng-model="#{ENTITY_VAR_NAME}.#{FIELD_VAR_NAME}" #{FIELD_ATTRIBUTES}></textarea>
</div>