<div class="row">    
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Pie Chart</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="pie.data" labels="pie.labels"></canvas>
            </div>
        </div>
    </div>    
</div>