<div class="dropdown">
    <label>#{FIELD_LABEL}</label>
    <div class="input-group">
     <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" 
            name="#{FIELD_VAR_NAME}" ng-model="#{ENTITY_VAR_NAME}.#{FIELD_VAR_NAME}" is-open="datepickers.#{FIELD_VAR_NAME}" 
            datepicker-options="dateOptions" ng-required="true" 
            close-text="Close" />
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="openCalendar(\$event,'#{FIELD_VAR_NAME}')">
            <i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>    
</div>